[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch-dsl = "*"
pandas = "*"
numpy = "*"
jupyter = "*"
"bs4" = "*"
requests = "*"
"psycopg2" = "*"
sqlalchemy = "*"
google-api-python-client = "*"
"oauth2client" = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
